<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PasswordMGT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <PasswordMGT.My.MySettings>
            <setting name="pw" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="wrongpw" serializeAs="String">
                <value />
            </setting>
            <setting name="firstime1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notes" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="data" serializeAs="String">
                <value>iData.txt</value>
            </setting>
            <setting name="gen" serializeAs="String">
                <value />
            </setting>
        </PasswordMGT.My.MySettings>
    </userSettings>
</configuration>
